/*
:Author: CYBERDEViL
:Contact: cyberdevilnl at protonmail d0t com
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.

https://docutils.sourceforge.io/docs/howto/html-stylesheets.html
*/

/*@import url(html4css1.css);*/

body {
	max-width: 800px;
	background-color: #161616;
	color: #bcb;
}

a {
  color: #11aa11;
}

table {
	border: none;
	background-color: #191919;
}

tr {
	border: none;
}

th {
	border: none;
	text-align: left;
}

td {
	border: none;
	border-bottom: 1px solid #114411;
	text-align: left;
}


/*indent sections a little*/
.section {
	margin-left: 12px;
}

/*indent section contents a little*/
p, pre, table {
  margin-left: 12px;
}

pre {
	font-family: monospace;
	background-color: #222;
	border: 1px solid #111;
	padding: 5px;
}

h1 {
	background-color: #222;
	padding: 6px;
}

h1 a {
	color: #fff;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

img.header {
	max-width: 800px;
	height: auto;
	width: 100%;
}

img.align-right {
	clear: right;
	float: right;
	margin-left: 1em
}
