a {
  color: #11aa11;
}

#infoboxes_header {
  font-weight: bold;
  text-decoration: underline;
}

.infobox {
  background-color: #2c2c2c;
  margin: 12px;
  align: left;
}

.infobox_title {
  font-size: 150%;
  font-weight: bold;
}

.infobox_label {
  font-weight: bold;
}

.infobox_value {
  font-style: italic;
}

.infobox_id {
  font-style: italic;
}

.infobox_attr_head, .infobox_links_head {
  font-weight: bold;
  text-decoration: underline;
}

.infobox_attr_table {
  background-color: #000;
}

.infobox_label, .infobox_value {
  border-bottom-style: solid;
  border-bottom-color: #11aa11;
  border-bottom-width: 1px;
}

hr {
  border-top: 1px solid red;
}
