h3{
  color: red;
}
a {
  color: #11aa11;
}
p{
  background-color: #3c3c3c;
}
p#top-message{
  padding: 15px;
}
p.fail{
  margin: 6px 20px 6px 20px;
}

table.fail{
  background-color: #3c3c3c;
  margin: 6px 20px 6px 20px;
}
tr{
  padding: 0px;
  margin: 0px;
}
td.fail-instance{
  background-color: #333;
  width: 100%;
}
td.fail-prefix{
  font-weight: bold;
  width: 100px;
}
td.fail-value{
  font-family: monospace;
  background-color: #2f2f2f;
  padding: 10px;
}
td.spacer{
  background-color: #2c2c2c;
  height: 10px;
}
