QWidget {
  background-color: #161616;
  color: #bcb;
  alternate-background-color: #2c2c2c;
  selection-background-color: #114411;
}


QWidget:disabled {
  color: #555;
  border-color: #222;
}

QWidget:focus {
  border: 1px solid #114411;
  border-radius: 0px;
}


QComboBox, QTextBrowser, QLineEdit,
QTextEdit, QTableView, Button,
QSpinBox, QCheckBox::indicator {
  border: 1px solid #444;
  border-radius: 0px;
}
QComboBox:hover, QTextBrowser:hover, QLineEdit:hover,
QTextEdit:hover, QTableView:hover, Button:hover,
QSpinBox:hover, QCheckBox::indicator:hover {
  border: 1px solid #337733;
  border-radius: 0px;
}


QLineEdit {
  selection-background-color: #ff0000;
}


/* Settings->Connection->User-agents */
/* Search results */
QTextEdit, QPlainTextEdit {
  background-color: #2c2c2c;
}


QToolTip {
  border: 1px solid #2f2f2f;
  border-radius: 3px;
  padding: 4px;
  background-color: #000;
  color: #9f9f9f;
}


QCheckBox {
  margin: 1px;
}
QCheckBox::indicator:checked {
  background-color: #225522;
}
QCheckBox::indicator {
  width: 16px;
  height: 16px;
}


/*Whitelist/blacklist/timeout item delete button*/
UrlFilterWidget UrlFilterItem Button {
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  background-color: #000;
  font-weight: bold;
  width: 16px;
  height: 16px;
}
UrlFilterLabel:hover {
  background-color: #2c2c2c;
}
UrlFilterLabel {
  qproperty-hoverColor: white;
}

/* Scrollbars*/
QScrollBar {
  border: 1px solid #333;
  margin: 0px 0px 0px 0px;
}
QScrollBar::handle {
  border: 1px solid #000;
  border-radius: 0px;
  background-color: #444;
}
QScrollBar::add-line, QScrollBar::sub-line {
  background: none;
}

/*Scrollbar vertical*/
QScrollBar:vertical {
  width: 16px;
}
QScrollBar::handle:vertical {
  min-height: 0px;
}

/*Scrollbar horizontal*/
QScrollBar:horizontal {
  height: 16px;
}
QScrollBar::handle:horizontal {
  min-width: 0px;
}


/* Instances panel */
QLabel#instancesHeader {
  width: 100%;
  color: white;
  background-color: #2c2c2c;
  padding: 3px;
  margin: 0px;
}


/*Table header*/
QHeaderView {
  background-color: #000;
  font-weight: bold;
}
QHeaderView::section:inactive {
  background-color: #161616;
  font-weight: bold;
}
QHeaderView::section:checked {
  background-color: #111111;
  font-weight: italic;
}
QTableView {
  gridline-color: #222;
}
QTableView::item {
  border: 0px;
}
QTableView QTableCornerButton::section {
    border: 0px;
    width: 0px;
}
QTableView::item:selected {
    background: #4c4c4c;
}


/*QSplitter*/
QSplitter {}
QSplitter::handle {
  border: 1px dashed #888;
  margin: 6px;
}
/* QSplitter[orientation="2"] vertical splitter
 * QSplitter[orientation="1"] horizontal splitter
 * */
QSplitter[orientation="2"] {
  height: 1px;
}
QSplitter[orientation="1"] {
  width: 1px;
}


/* QComboBox::indicator overrides Fusion
 * QComboBox QAbstractItemView::indicator overrides Breeze
 * */
SearchLanguage::indicator,
SearchLanguage QAbstractItemView::indicator {
  margin: 0px;
  padding: 0px;
  width: 16px;
  height: 16px;
  image: url(":/default/16_fav_unchecked.png");
}


SearchLanguage::indicator:checked,
SearchLanguage QAbstractItemView::indicator:checked {
  
  image: url(":/default/16_fav.png");
}


/*QMenu*/
QMenu::separator {
  margin: 6px;
  height: 1px;
}


FilterWidget > QLabel {
  font-weight: bold;
}


GuardEditRuleDialog > QLabel {
  font-weight: bold;
  margin: 2px;
}
